body{
    font-family: "Roboto", sans-serif;
    background-color: rgba(126, 5, 196, 0.87);
    color: rgb(241, 249, 255);
    margin: 0px;
    margin-bottom: 100px;
}
header{
    color: rgba(221, 127, 230, 0.774);
    border-bottom: 3px solid white;
    font-size: 32;
    padding: 15px;
}
h1{
    font-size: 35px;
}
.chamada{
    background-color: rgb(174, 174, 236);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}