body{
    font-family: "Roboto", sans-serif;
    background-color: rgba(169, 25, 253, 0.801);
    color: rgb(241, 249, 255);
    margin: 0px;
    margin-bottom: 100px;
}
header{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid white;
    font-size: 32;
    padding: 15px;
}
h1{
    font-size: 35px;
}
.chamada{
    background-color: rgb(174, 174, 236);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgba(144, 0, 173, 0.801)
}